@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: coral;
  font-family: "Roboto Condensed", sans-serif;
}
.book {
  position: relative;
  width: 350px;
  height: 500px;
}
.paper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  perspective: 1500px;
}
.front,
.back {
  background-color: #ffff;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform-origin: left;
  transition: transform 0.5s;
}
.front {
  z-index: 1;
  backface-visibility: hidden;
  border-left: 3px solid coral;
}
.back {
  z-index: 0;
}

.front_content,
.back_content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.back_content {
  transform: rotateY(180deg);
}
/* flipped effect */
.flipped .front,
.flipped .back {
  transform: rotateY(-180deg);
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 10px;
}
button:focus {
  outline: none;
}
button:hover {
  color: #636363;
}
i {
  font-size: 40px;
  color: gray;
}
/* Paper Stack Order */
#p_one {
  z-index: 3;
}
#p_two {
  z-index: 2;
}
